server {
    listen       80;
    server_name  {{project_domain}};

    root   {{root_path}}/{{project_domain}}
    #charset koi8-r;
    access_log  {{log_path}}/{{ project_domain }}.access.log  main;
     	
    error_log {{log_path}}/{{project_domain}}error.log ;

    location / {
        index  index.html index.htm index.php;
 	if (!-e $request_filename) {
		rewrite  ^/(.*)$  /  last;
        }
    }
    location ~ \.mp3$ {
     max_ranges 0;
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
    }

    location ~ \.php$ {
        fastcgi_pass   127.0.0.1:9000;
        fastcgi_index  index.php;
        include        fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME   $document_root$fastcgi_script_name;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }
}
